#this line is a comment
#configuration for consuming sample data, assuming that kafka is already running at 127.0.0.5:9092, and a producer updates the topic "myTopic".
#stream simulator will act as a consumer (--mode=c). It retrieves the records sent by some procuder on the topic "myTopic".
#The option --realtime will force the records on the same timestamp to be transmitted on the same time instant.
#The option --sleep specifies the delay between transmitted messages 
#(e.g. consecutive records with 1 second time difference on their timestamps, will be transmitted 4 times faster for a configuration --sleep=0.25)
#--------
--broker=127.0.0.5:9092
--mode=c
--topic=myTopic
