#this line is a comment
#configuration for streaming sample data, assuming that kafka is already running at 127.0.0.5:9092, 
#stream simulator will act as a producer (--mode=s). It transmits the records found in data/output.csv to the topic "myTopic".
#The option --realtime will force the records on the same timestamp to be transmitted on the same time instant.
#The option --sleep specifies the delay between transmitted messages 
#(e.g. consecutive records with 1 second time difference on their timestamps, will be transmitted 4 times faster for a configuration --sleep=0.25)
#The option --timeIndex specifies the timestamp column index at the data/output.csv file.
#--------
--broker=127.0.0.5:9092
--mode=s
--topic=myTopic
--i=data/output.csv
--sleep=0.01
--realtime
--timeIndex=7
